body {
    margin: 20px;
    background-image: url("https://media.giphy.com/media/heOKY8nrJUMfK/giphy.gif");
    background-size: cover;
    /*#0F1020
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 6px;
    border: 2px dotted #000;
}


.card {
    width: 400px;
    margin: 200px 420px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    border: 6px solid #141B41;
    border-radius: 34px;
background: #5825d0;
box-shadow:  22px 22px 44px #240f55,
             -22px -22px 44px #8c3bff;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
  

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

